<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="../src/itemGenerator.js"></script>
    <title>Cart</title>
</head>
<body>
    <div class="card">
        <h1>Card</h1>
        <ul class="listCard">
        </ul>
        <div class="checkOut">
            <div class="total">0</div>
        </div>
    </div>

        <div class="cart">
            <h2 class="text-4xl text-white">Shopping Cart</h2>
            <ul id="cart-items"></ul>
        </div>
</body>
</html>