<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css">
    <title>Tailwind </title>
  </head>

  <body>
  
    <nav class="bg-blue-400  py-4 px-4   justify-between max-w-10 shadow-xl shadow-gray-300  mx-auto font-bold text-black-800">
      <div class="navBar flex justify-between">
      <!-- Right Container -->
          <div class="flex  justify-between items-center">
              <img src="https://www.seoclerk.com/pics/677755-210axC1562182518.jpg" class="mx-4" width="20px" />
              <ul class="flex space-x-4">
                <button onclick="window.open('http://127.0.0.1:5500/index.html')"><li class="Home page ">Home</li></button>
                  <button onclick="window.open('http://127.0.0.1:5500/pestisides.html')"><li class=" ">Pestisides</li></button>
                  <button onclick="window.open('')"><li class=" ">Sell</li></button>
                  <button onclick="window.open('')"><li class=" ">Consult</li></button>
              </ul>
          </div>
      
          <!-- Left Container -->
          <div class=" items-center flex">
              <input class="justify-right" placeholder="Search"
                  class="" value="" />
              <div class="WishList mx-4 flex">
                  Profile
                  <img src="https://cdn.onlinewebfonts.com/svg/img_202755.png" width="20px" />
              </div>
              <div class="cart mx-4 flex">
                  Cart
                  <img src="https://www.freepnglogos.com/uploads/shopping-cart-png/shopping-cart-svg-png-icon-download-28.png"
                      width="20px" />
              </div>
          </div>
  </div>
</nav>
<!--card view will start from here-->
   <div class=" cardview flex justify-between items-center max-w-10">
  
      <!-- Card Contianer -->
      <button onclick="window.open('https://tailwindcomponents.com/cheatsheet/')">
      <div
          class=" p-4 h-[450px] w-[300px] flex flex-col items-center rounded-2xl shadow-xl shadow-gray-300 bg-gray-200 mx-auto my-16 ">
         
          <!-- Image Container -->
          <div class=" w-full h-3/4 bg-gray-400 rounded-lg ">
              <!--  -->
          </div>
      
          <!-- Info Container -->
          <div class="flex flex-col py-1 ">
              <h3 class="text-lg font-bold">Name of Product</h5>
                  <h4 class="text-md">Company Name</h4>
                  <!-- Short Description -->
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                  <h5 class=" font-semibold my-2">Rating **</h5>
          </div>
      </div>
    </button>


      <!-- Card Contianer -->
      <button onclick="window.open('https://tailwindcomponents.com/cheatsheet/')">
      <div
          class=" p-4 h-[450px] w-[300px] flex flex-col items-center rounded-2xl shadow-xl shadow-gray-300 bg-gray-200 mx-auto my-16 ">
      
          <!-- Image Container -->
          <div class=" w-full h-3/4 bg-gray-400 rounded-lg ">
              <!--  -->
          </div>
      
          <!-- Info Container -->
          <div class="flex flex-col py-1 ">
              <h3 class="text-lg font-bold">Name of Product</h5>
                  <h4 class="text-md">Company Name</h4>
                  <!-- Short Description -->
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                  <h5 class=" font-semibold my-2">Rating **</h5>
          </div>
      </div>
      </button>


    <!-- Card Contianer -->
    <button onclick="window.open('https://tailwindcomponents.com/cheatsheet/')">
    <div
    class=" p-4 h-[450px] w-[300px] flex flex-col items-center rounded-2xl shadow-xl shadow-gray-300 bg-gray-200 mx-auto my-16 ">

    <!-- Image Container -->
    <div class=" w-full h-3/4 bg-gray-400 rounded-lg ">
        <!--  -->
    </div>

    <!-- Info Container -->
    <div class="flex flex-col py-1 ">
        <h3 class="text-lg font-bold">Name of Product</h5>
            <h4 class="text-md">Company Name</h4>
            <!-- Short Description -->
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
            <h5 class=" font-semibold my-2">Rating **</h5>
    </div>
   </div></button>

</div>


<div class=" flex justify-between items-center max-w-10">
<!-- Card Contianer -->
<button onclick="window.open('https://tailwindcomponents.com/cheatsheet/')">
<div
class=" p-4 h-[450px] w-[300px] flex flex-col items-center rounded-2xl shadow-xl shadow-gray-300 bg-gray-200 mx-auto my-16 ">

<!-- Image Container -->
<div class=" w-full h-3/4 bg-gray-400 rounded-lg ">
    <!--  -->
</div>

<!-- Info Container -->
<div class="flex flex-col py-1 ">
    <h3 class="text-lg font-bold">Name of Product</h5>
        <h4 class="text-md">Company Name</h4>
        <!-- Short Description -->
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
        <h5 class=" font-semibold my-2">Rating **</h5>
</div>
</div></button>

<!-- Card Contianer -->
<button onclick="window.open('https://tailwindcomponents.com/cheatsheet/')">
<div
class=" p-4 h-[450px] w-[300px] flex flex-col items-center rounded-2xl shadow-xl shadow-gray-300 bg-gray-200 mx-auto my-16 ">

<!-- Image Container -->
<div class=" w-full h-3/4 bg-gray-400 rounded-lg ">
    <!--  -->
</div>

<!-- Info Container -->
<div class="flex flex-col py-1 ">
    <h3 class="text-lg font-bold">Name of Product</h5>
        <h4 class="text-md">Company Name</h4>
        <!-- Short Description -->
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
        <h5 class=" font-semibold my-2">Rating **</h5>
</div>
</div></button>

 <!-- Card Contianer -->
 <button onclick="window.open('https://tailwindcomponents.com/cheatsheet/')">
 <div
 class=" p-4 h-[450px] w-[300px] flex flex-col items-center rounded-2xl shadow-xl shadow-gray-300 bg-gray-200 mx-auto my-16 ">

 <!-- Image Container -->
 <div class=" w-full h-3/4 bg-gray-400 rounded-lg ">
     <!--  -->
 </div>

 <!-- Info Container -->
 <div class="flex flex-col py-1 ">
     <h3 class="text-lg font-bold">Name of Product</h5>
         <h4 class="text-md">Company Name</h4>
         <!-- Short Description -->
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
         <h5 class=" font-semibold my-2">Rating **</h5>
 </div>
</div></button>
</div>
<div class=" flex justify-between items-center max-w-10">
<!--card Container-->
<button onclick="window.open('https://tailwindcomponents.com/cheatsheet/')">
<div
          class=" p-4 h-[450px] w-[300px] flex flex-col items-center rounded-2xl shadow-xl shadow-gray-300 bg-gray-200 mx-auto my-16 ">
      
          <!-- Image Container -->
          <div class=" w-full h-3/4 bg-gray-400 rounded-lg ">
              <!--  -->
          </div>
      
          <!-- Info Container -->
          <div class="flex flex-col py-1 ">
              <h3 class="text-lg font-bold">Name of Product</h5>
                  <h4 class="text-md">Company Name</h4>
                  <!-- Short Description -->
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                  <h5 class=" font-semibold my-2">Rating **</h5>
          </div>
      </div></button>

  <!--card container-->
  <button onclick="window.open('https://tailwindcomponents.com/cheatsheet/')">
    <div
      class=" p-4 h-[450px] w-[300px] flex flex-col items-center rounded-2xl shadow-xl shadow-gray-300 bg-gray-200 mx-auto my-16 ">
  
      <!-- Image Container -->
      <div class=" w-full h-3/4 bg-gray-400 rounded-lg ">
          <!--  -->
      </div>
  
      <!-- Info Container -->
      <div class="flex flex-col py-1 ">
          <h3 class="text-lg font-bold">Name of Product</h5>
              <h4 class="text-md">Company Name</h4>
              <!-- Short Description -->
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
              <h5 class=" font-semibold my-2">Rating **</h5>
      </div>
  </div></button>
   <!--card container-->
   <button onclick="window.open('https://tailwindcomponents.com/cheatsheet/')">
   <div
   class=" p-4 h-[450px] w-[300px] flex flex-col items-center rounded-2xl shadow-xl shadow-gray-300 bg-gray-200 mx-auto my-16 ">

   <!-- Image Container -->
   <div class=" w-full h-3/4 bg-gray-400 rounded-lg ">
       <!--  -->
   </div>

   <!-- Info Container -->
   <div class="flex flex-col py-1 ">
       <h3 class="text-lg font-bold">Name of Product</h5>
           <h4 class="text-md">Company Name</h4>
           <!-- Short Description -->
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
           <h5 class=" font-semibold my-2">Rating **</h5>
   </div>
</div></button>
</div>
  </body>
</html>
