<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" ></script>
	<!-- Bootstrap theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<script src="https://cdn.tailwindcss.com"></script>
	<title>Login</title>
</head>
<body>
    <div class="bg-cover bg-center h-screen" style="background-image: url('https://media.istockphoto.com/id/650045672/photo/silhouette-of-working-men-during-sunset-time.jpg?s=612x612&w=0&k=20&c=VVk9oOb3-H0Qfem8EM2CJLEzifTx73694wrHJ6mTvoo=')">
		<div class="flex justify-center items-center h-screen">
			<div class="p-16 rounded-lg shadow-lg bg-transparent bg-blue-700 ">
			  <div class="flex  items-center justify-between">
		         <form name="registration_form" id="registration_form" method="post" action="#" enctype="multipart/form-data" >
			    <div class="form-group">
				  <label for="email">Email</label>
				  <input type="text" name="email" id="login_email" class="form-control" placeholder="Enter your email">
				</div>
				<div class="form-group">
				  <label for="password" >Password</label>
				  <input type="password" name="password" id="login_password" class="form-control"  placeholder="Enter your password">
				</div>
				<button type="button" id="login" name="login" class="btn btn-success">Login</button>
				<!-- <button type="button" id="login" name="login" class="btn btn-success">Login</button> -->
			     </div>
				</form>
			</div>
		</div>
</body>
	<script type="module">
	  // Import the functions you need from the SDKs you need
	  import { initializeApp } from "https://www.gstatic.com/firebasejs/9.10.0/firebase-app.js";
	  import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.10.0/firebase-analytics.js";
	  import { getAuth, createUserWithEmailAndPassword, signInWithEmailAndPassword, signOut } from "https://www.gstatic.com/firebasejs/9.10.0/firebase-auth.js";
	const firebaseConfig = {
  apiKey: "AIzaSyDGpCGFds53869rMXIscnZ8LjKRTvU5-iw",
  authDomain: "farmers-5f9f9.firebaseapp.com",
  databaseURL: "https://farmers-5f9f9-default-rtdb.firebaseio.com",
  projectId: "farmers-5f9f9",
  storageBucket: "farmers-5f9f9.appspot.com",
  messagingSenderId: "857702547283",
  appId: "1:857702547283:web:528ed83e2b9d6732472ba6"
};

	  // Initialize Firebase
	  const app = initializeApp(firebaseConfig);
	  const analytics = getAnalytics(app);
	  const auth = getAuth();
	  console.log(app);

	  

	  //----- New Registration code start	  
	  document.getElementById("register").addEventListener("click", function() {
		  var email =  document.getElementById("email").value;
		  var password = document.getElementById("password").value;
		  //For new registration
		  createUserWithEmailAndPassword(auth, email, password)
		  .then((userCredential) => {
		    // Signed in 
		    const user = userCredential.user;
		    console.log(user);
		    alert("Registration successfully!!");
		    // ...
		  })
		  .catch((error) => {
		    const errorCode = error.code;
		    const errorMessage = error.message;
		    // ..
		    console.log(errorMessage);
		    alert(error);
		  });		  		  
	  });
	  //----- End

	  //----- Login code start	  
	  document.getElementById("login").addEventListener("click", function() {
		  var email =  document.getElementById("login_email").value;
		  var password = document.getElementById("login_password").value;

		  signInWithEmailAndPassword(auth, email, password)
		  .then((userCredential) => {
		    // Signed in 
		    const user = userCredential.user;
		    console.log(user);
		     alert(user.email+" Login successfully!!!");
			window.location = "../src/index.html";
		    document.getElementById('logout').style.display = 'block';
		    // ...
		  })
		  .catch((error) => {
		    const errorCode = error.code;
		    const errorMessage = error.message;
		    console.log(errorMessage);
		    alert(errorMessage);
		  });		  		  
	  });
	  //----- End

	  //----- Logout code start	  
	  document.getElementById("logout").addEventListener("click", function() {
		  signOut(auth).then(() => {
			  // Sign-out successful.
			  console.log('Sign-out successful.');
			  alert('Sign-out successful.');
			  document.getElementById('logout').style.display = 'none';
			}).catch((error) => {
			  // An error happened.
			  console.log('An error happened.');
			});		  		  
	  });
	  //----- End

	</script>
</html>